body {
  background-color: #FAE9D6;
  margin: auto;
}

/* this is the banner mentioned */
header
{
    background-color: #a63961;
    height: 250px; 
    

    /* background-image: url(images/smallstar.png);
    background-position: -200px -100px;
    background-repeat: no-repeat;
    background-size: 100%; */
    
}

h1 {
    font-family: "Shrikhand";
    color: #f9e7d6;
    font-size: 40px;
    text-align: center;
    margin:0;
    padding: 50px 20px 20px 20px;
}

article {

    color:#a63961;
    text-align: center;
    font-family: "Kumbh Sans";
    margin: auto;
}
.projects {
    /* background-image: url(images/bigstar.png);
    background-position: 200px -108px;
    background-repeat: no-repeat;
    background-size: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 50px; 
}
.projectbox a:hover {
    color: rgb(37, 94, 21);
}

section {

    background-color: rgba(166, 57, 97, 0.75);
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 18rem;
}
section a:hover {
    animation: wiggle 0.6s ease-in-out;
    cursor: pointer;
}
section h2 {
    font-family: "Kumbh Sans";
    color:#FAE9D6;
    text-align: center;
   margin-top: 0;
   transition: transform 0.25s ease;
}
section h2:hover {
    transform: scale(1.25);
  cursor: pointer;
  color:rgb(26, 71, 13)
}

section ul {
    list-style-type: none; 
    padding: 0;
    margin:0; 
    
}
section ul li {
    font-family: "Kumbh Sans";
    
}
section ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color:#f9e7d6;
    padding: 2px;
    font-family: "Kumbh Sans";
    line-height: 1.6em;
}
footer {
    background-color:#a63961;
    text-align: center;
    color:#f9e7d6;
    padding: 10px;
    font-family: "Kumbh Sans";
}

.disco {
    position: absolute;  
    bottom: -10px; 
    right: 0;       
    width: 40%;
    height: auto;       
    z-index: 2; 
    transform: none;
    animation: wiggle 1s infinite;
    transform-origin: bottom center;
           
}
footer a{
    text-decoration: none;
    color: #f9e7d6;
}

footer a:hover {
    color: rgb(37, 94, 21);
}
/* #container {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto; 
}
#banner {
    width: 110px;
    height: 250px;
    position: relative;
    margin: 0 auto;
} */

@media only screen and (min-width: 600px){
    
    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 4rem;
        box-sizing: border-box;
    }

    header {
        height: 250px;  
        /* background-position: -150px -120px;
        background-size: 120%; */
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        text-align: center;
        padding: 0; 
        margin: 0;
    }
    p {
        font-size: 20px;
    }

 .projects {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2em;
    width: 100%;
    position: relative;
    width: 100%;
    padding: 1rem;
    position: relative;
 }
 
 .projectbox {
    
    width: 13rem;
    font-size: 1.1rem;
    margin: 0;
    align-items: center;
    height: 277.4px;
 }

 
 h2{
    padding-top: 20px;
 }
 section {
    margin: 0.5rem;
    
 }

 section h2 {
    font-size: 1.5rem;
 }

 section ul li a {
    font-size: 1.1rem;
    line-height: 1.8rem;
 }
 .disco{
    position: absolute;
    bottom:0;
    right: 30px;
    width: 15%; 
    /* transform: translateY(160px); */
    transform: none;
    z-index: 2;
    animation: wiggle 1s infinite;
    transform-origin: bottom center;
 }

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

main {
    padding-bottom: 100px; 
}

}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2.5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(2.5deg); }
    100% { transform: rotate(0deg); }
}