body {
  background-color: #FAE9D6;
  margin: auto;
}

header
{
    background-color: #a63961;
    height: 250px; 

    background-image: url(images/smallstar.png);
    background-position: -200px -100px;
    background-repeat: no-repeat;
    background-size: 100%;
    
}
h1 {
    font-family: "Shrikhand";
    color: #f9e7d6;
    font-size: 40px;
    text-align: center;
    margin:0;
    padding: 50px;
}
article {

    color:#a63961;
    text-align: center;
    font-family: "Kumbh Sans";
    margin: auto;
}
.projects {
    background-image: url(images/bigstar.png);
    background-position: 200px -108px;
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
section {

    background-color: rgba(166, 57, 97, 0.75);
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 18rem;
}
section h2 {
    font-family: "Kumbh Sans";
    color:#FAE9D6;
    text-align: center;
   margin-top: 0;
}

section ul {
    list-style-type: none; 
    padding: 0;
    margin:0; 
    
}
section ul li {
    font-family: "Kumbh Sans";
    
}
section ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color:#f9e7d6;
    padding: 2px;
    font-family: "Kumbh Sans";
    line-height: 1.6em;
}
footer {
    background-color:#a63961;
    text-align: center;
    color:#f9e7d6;
    padding: 10px;
    font-family: "Kumbh Sans";
}
body {
    position: relative;
}
.disco {
    position: absolute;  
    bottom: 70px;        
    left: 80%;           
    transform: translateX(-50%); 
    width: 40%;
    height: auto;         
    z-index: 2; 
           
}
@media only screen and (min-width: 600px){
    body {
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;

    }

    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding-bottom: 4rem;
        box-sizing: border-box;
    }
    header {
        height: 250px;  
        background-position: -150px -120px;
        background-size: 120%;
        width: 100%;
    }
    h1 {
      margin-top: 100px; 
      text-align: center;
    padding: 0; 
    }
    p {
        font-size: 20px;
    }
 .projects {
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2em;
    width: 100%;
    position: relative;
    width: 100%;
    padding-bottom: 1rem;
 }
 
 .projectbox {
    
    width: 13rem;
    font-size: 1.1rem;
    margin: 0;
    align-items: center;
    height: 277.4px;

 }
 
 h2{
    padding-top: 20px;
 }
 section {
    margin: 0.5rem;
    
 }

 section h2 {
    font-size: 1.5rem;
 }

 section ul li a {
    font-size: 1.1rem;
    line-height: 1.8rem;
 }
 .disco{
    position: absolute;
    bottom: -160px;
    right: 40% ;
    width: 20%; 
 }



/* id are # class are . */
}