body {
  background-color: #FAE9D6;
  margin: auto;
}

/* this is the banner mentioned */
header
{
    background-color: #a63961;
    height: 250px;   
}

h1 {
    font-family: "Shrikhand";
    color: #f9e7d6;
    font-size: 40px;
    text-align: center;
    margin:0;
    padding: 50px 20px 20px 20px;
}

.course-title {
    font-family: "Kumbh Sans";
    font-size: 1.2rem;
    color: #f9e7d6;
    text-align: center;
    margin-top: 0.5rem;
    font-weight: 400;
}
article {

    color:#a63961;
    text-align: center;
    font-family: "Kumbh Sans";
    margin: auto;
}
.projects {
    
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 50px; 
    display: flex;
  justify-content: center;

  gap: 2em;

  
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;

  position: relative;
}
.projectbox a:hover {
    color: rgb(37, 94, 21);
}

section {

    background-color: rgba(166, 57, 97, 0.75);
    border-radius: 25px;
    padding: 1rem;
    margin: 1rem 0;
    width: 100%;
    max-width: 18rem;
}
section a:hover {
    animation: wiggle 0.6s ease-in-out;
    cursor: pointer;
}
section h2 {
    font-family: "Kumbh Sans";
    color:#FAE9D6;
    text-align: center;
   margin-top: 0;
   transition: transform 0.25s ease;
}
section h2:hover {
    transform: scale(1.25);
  cursor: pointer;
  color:rgb(26, 71, 13)
}

section ul {
    list-style-type: none; 
    padding: 0;
    margin:0; 
    
}
section ul li {
    font-family: "Kumbh Sans";
    
}
section ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    color:#f9e7d6;
    padding: 2px;
    font-family: "Kumbh Sans";
    line-height: 1.6em;
}
footer {
    background-color:#a63961;
    text-align: center;
    color:#f9e7d6;
    padding: 10px;
    font-family: "Kumbh Sans";
}

.disco {
    position: absolute;  
    bottom: -10px; 
    right: 0;       
    width: 40%;
    height: auto;       
    z-index: 2; 
    transform: none;
    animation: wiggle 1s infinite;
    transform-origin: bottom center;
           
}
footer a{
    text-decoration: none;
    color: #f9e7d6;
}

footer a:hover {
    color: rgb(37, 94, 21);
}


@media only screen and (min-width: 900px){
    main {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        /* padding-bottom: 4rem; */
        box-sizing: border-box;
        padding-bottom: 100px; 
    }
    
    header {
        position: relative;
        width: 100%;
        max-width: none;
        display: flex;
        flex-direction: column;       
        align-items: center;          
        justify-content: flex-start; 
        height: 250px;                
        padding-top: 20px;
        box-sizing: border-box;

    }
    .course-title {
        margin: 10px;          
        font-size: 1.2rem;
        text-align: center;
        padding-top: 10px;
      }

    h1 {
        text-align: center;
        padding: 40px; 
        margin: 0;
    }
    p {
        font-size: 20px;
    }

 .projects {
  width: 100%;
  max-width: none;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2em;
  padding: 1rem;
  box-sizing: border-box;
 }
 
 .projectbox {
    
    width: 13rem;
    font-size: 1.1rem;
    margin: 0;
    align-items: center;
    height: 277.4px;
    box-sizing: border-box;
 }

 
 h2{
    padding-top: 20px;
 }
 section {
    margin: 0.5rem;
    
 }

 section h2 {
    font-size: 1.5rem;
 }

 section ul li a {
    font-size: 1.1rem;
    line-height: 1.8rem;
 }
 .disco{
    position: absolute;
  bottom: 0;
  right:0;   /* WAS 30px */
  width: 15%;
  max-width: 250px;
  height: auto;
  box-sizing: border-box;
 }
 footer {
    width: 100%;
    max-width: none;
    text-align: center;
    box-sizing: border-box;
    padding: none;
 }

#container {
    max-width: 1200px;
    min-width: 900px;
    margin: 0 auto; 
}
#banner {
    width: 100%;
    max-width: 1600px;
    height: 250px;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
}

}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(2.5deg); }
    50% { transform: rotate(-5deg); }
    75% { transform: rotate(2.5deg); }
    100% { transform: rotate(0deg); }
}
