a {
    color: #B53324;
   
 }
 body{
    display: flex;
    flex-direction: column;
    color: #B53324;
    background-color: #E5A657;
    height: 100vh;
 }
 h1 {
    color: #B53324;
    text-align: center;
    font-family: "DM Mono", monospace;
 }

 li {
    padding: 20px;
    font-family: "DM Mono";
 }
 ul{
    text-align: center;
    font-family: "DM Mono";
    padding: 20px;
    line-height: 1.6em;
 }