body {

    color: rgb(8, 67, 125);
    text-align: center;
    background-color: rgb(222, 167, 65);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.pageContent {
    flex: 2;
}
#imageDescription {
    width: 700px;
    text-align: center;
    margin: 20px auto;
    line-height: 1.6em;
}

#container {
    width: 800px;
    height: 547px;
    overflow: hidden;
    position: relative;
    margin: auto;
    border-radius: 20px;
}

#container div {
    position: absolute;
    width: 150px;
    height: 150px;
    
}

#container img {
    display: block;
    position: absolute;
    border-radius: 20px;
}

#topleft {
    top: 0;
    left: 0;
   
}
#overlayText {
    /* position: absolute;
    bottom: 20px;
    left: 20px;
    background:rgb(8, 67, 125);
    color: rgb(222, 167, 65) ;
    padding: 10px;
    opacity: 0;
    border-radius: 20px;
    transition: opacity 0.5s ease; 
    line-height: 1.6em;

    display: inline-block;
    min-width: 250px;
    text-align: left; */
    position: absolute;
    width: 100%;
    height: 100%;

    background: rgba(8, 67, 125, 0.85);
    color: rgb(222, 167, 65);

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    

    border-radius: 20px;
}

#container:hover #overlayText {
    opacity: 1;
    text-align: center; 
    width: 800px;
    height: 533px;
    transition: opacity 0.5s ease;
    font-family: "Montserrat" ;
}

h1 {
    text-align: center;
}
#buttonContainer {
    position: absolute;
    /* bottom: 10px;      */
    width: 100%;
    margin: 20px 0;
    text-align: center; 
    /* z-index: 10; 
    padding-top: 10px;       */
}

#buttonContainer button {
    margin: 0 5px;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    background: rgb(8, 67, 125);
    color: rgb(222, 167, 65);
    font-size: 14px;
    margin-bottom: 10px;
}

#previous {
    left: 40px; 
    bottom: 15px;
}

#next {
    right: 20px;
    bottom: 15px;
}

#previous, #next {
    font-size: 14px;   
    padding:  20px; 
    font-family: "Montserrat";
    /* position: absolute; */
}

.start {
    width: 800px;
    left: 0;
    top: 0;
}
#caption {
    width: 800px;
    margin: 10px auto 0 auto; /* centered below the image */
    text-align: center;
    font-size: 16px;
    color: rgb(8, 67, 125);
    line-height: 1.4em;
}

h1{
    font-family: "Sigmar One";
}
p {
    font-family: "Montserrat";
}

footer{
    background-color:rgb(8, 67, 125);
    padding: 20px 0;
    margin-top: auto;
}

footer p {
    color:  rgb(222, 167, 65); 
    margin: 0;
}