body {
    background-color:#c7daff;
    color:rgb(47, 58, 86);
}
h1 {
    color:rgb(221, 211, 204) ;
    font-family: "Sigmar One";
}

img {
    display: block;
    max-width: 500px;
    height: auto;
    
    
}

header, footer {
    background-color: rgb(47, 58, 86) ;
    text-align: center;
    height: 125px;
    display: grid;
    place-content: center;
    margin: auto;
    
}
h2 {
    color: rgb(47, 58, 86);
    font-family: "Sigmar One";
}
button {
    color: rgb(47, 58, 86) ;
    background-color: rgb(221, 211, 204);
    font-family: "Montserrat";
    padding: 10px;
    font-weight: 600;
    border-radius: 10px;
    line-height: 1em;
    margin-top: 40px;
    
}
button:hover {
    background-color: rgb(221, 211, 204) ;
    color: rgb(47, 58, 86) ;
}

footer p {
    font-family: "Montserrat";
    color:  rgb(221, 211, 204) ;
}

main {
    display: flex;
    width: 900px;
    margin: auto; 
}

section {
    flex: 1;
    padding: 40px;
}

p {
    font-family: "Montserrat";
}

form input, form label {
    display: block;
    font-family: "Montserrat";
    padding: 5px;
}
form input {
    margin-bottom: 1em;
}
#madlib-questions {
    display: block;
}


#madlib-overlay.showing{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
background-color:  rgb(47, 58, 86)  ;
}
#madlib-overlay.hidden {
    display:none;
}
#madlib-overlay article {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(221, 211, 204);
    width: 60%;
    height: 70%;
    padding: 40px;
}
#madlib-overlay img {
   width: auto;
   height: auto;
   justify-items: center;
   max-width: 500px;
   max-height: 500px;
   padding-left: 275px;
    
}

#madlib-overlay a{
     color:#c7daff;
     
}

#madlib-overlay h2 {
    text-align: center;
}
#madlib-overlay p{
    width:auto;
    line-height: 2em;
    
}
