body {
    background-color: #FAE9D6;
    margin: 0;
  }
  
  
  article {
      
      min-height: 250px; 
     
 
  }

  time {
    font-family: "Montserrat";
    margin: 30px;
    color: #a63961;
  }

  h2 {
    background-color:#a63961;
    text-align: center;
    color:#f9e7d6;
    font-family:"Shrikhand";
    padding: 1em;
    font-size: 3em;
    margin-top: 0;
  }
  p{
    font-family: "Montserrat";
    line-height: 1.7em;
    margin: 1.5em;
    /* width:700px; add to media query */
    padding: 0;
    font-size: 1.1em;
 

  }
  h3 {
    font-family: "Kumbh Sans";
    text-align: center;
    color: #a63961;
    font-size: 1.6em;
    font-weight: bold;
  }
  footer {
    background-color:#a63961;
    text-align: center;
    color:#f9e7d6;
    padding: 1em;
    font-family: "Kumbh Sans";
}
.links {
    padding-left: .25em;
    margin: 1em 1.5em;
}
.links li {
    list-style-type: none;
}
.links a {
    text-decoration: none;
    color: #a63961;
    font-family: "Montserrat";
}

footer a{
    text-decoration: none;
    color: #f9e7d6;
}

footer a:hover {
    color: rgb(37, 94, 21);
}
@media (min-width: 700px) {

    article {
      max-width: none;
      margin: 0 auto;
    }
    h2 {
        position: relative;
        display: flex;
        flex-direction: column;       
        align-items: center;          
        justify-content: flex-start; 
        height: 250px;                
        padding-top: 60px;
        box-sizing: border-box;
    }
  
    p {
      max-width: 60em;      
      font-size: 1.1rem;
      margin-left: auto;
      margin-right: auto;
      line-height: 2em;
    }
  
    .links {
      /* max-width: 30em; */
      margin-left: 19em;
      padding-left: 1.5em;
      padding-bottom: 1.5em;
    }
  
    time {
      margin-left: 20em;
    }
  
    h2 {
      font-size: 3.2rem;    /* more presence on desktop */
    }
  }
  