body {
    background-color: #FAE9D6;
    margin: 0;
  }
  
  
  article {
      /* height: 250px;  */
      min-height: 250px; 
      /* padding: 1.5em 1em; */
 
  }

  time {
    font-family: "Kumbh Sans";
    margin: 30px;
    color: #a63961;
  }

  h2 {
    background-color:#a63961;
    text-align: center;
    color:#f9e7d6;
    font-family:"Shrikhand";
    padding: 1em;
    font-size: 3em;
    margin-top: 0;
  }
  p{
    font-family: "roboto";
    line-height: 1.7em;
    margin: 1.5em;
    /* width:700px; add to media query */
    padding: 0;
    font-size: 1.2em;
 

  }
  h3 {
    font-family: "Kum";
    text-align: center;
    color: #a63961;
  }
  footer {
    background-color:#a63961;
    text-align: center;
    color:#f9e7d6;
    padding: 1em;
    font-family: "Kumbh Sans";
}
.links {
    padding-left: .25em;
    margin: 1em 1.5em;
}
.links li {
    list-style-type: none;
}
.links a {
    text-decoration: none;
    color: #a63961;
    font-family: "Kumbh Sans";
}

footer a{
    text-decoration: none;
    color: #f9e7d6;
}

footer a:hover {
    color: rgb(37, 94, 21);
}